<!-- list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Shortened URLs List</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/tiny/find/">Find</a>
    <h1>List of Shortened URLs</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <ul>
        {% for shortened_url in shortened_urls %}
            <li>
                {{ request.build_absolute_uri }}
                <strong>Original URL:</strong> {{ shortened_url.original_url }}<br>
                <strong>Shortened URL:</strong> http://127.0.0.1:8000/{{shortened_url.custom_url}}<br>
                <strong>Created At:</strong> {{ shortened_url.created_at }}<br>
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>
